.header {
  text-align: center;

  margin-top: 1.45rem;
  margin-bottom: calc(1.45rem * 2);

  display: flex;
  flex-direction: column;

  color: #fff;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));
}

.header div:first-child {
  z-index: 2;
}

.header div:last-child {
  z-index: 1;
}

.header h1 {
  display: inline-block;
  padding: calc(1.45rem / 3) calc(1.45rem / 2);
  background: #891b4d;
  margin-bottom: 0;
  font-size: 3rem;

  letter-spacing: 0.04rem;

  font-weight: 400;

  position: relative;
}

.header h1::before {
  content: 'for';
  position: absolute;

  bottom: -0.5rem;
  left: calc(50% - 11px);

  font-size: 1rem;
  letter-spacing: normal;
  font-weight: 400;
}

.header h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;

  display: inline-block;
  padding: calc(1.45rem / 2) 1.45rem;
  margin-bottom: 0;
  background: #613f75;
  text-transform: uppercase;

  position: relative;
}

.header h2::after {
  content: '';

  position: absolute;
  left: 0;
  top: calc(2rem * -2);

  width: 0;
  height: 0;
  border-left: calc(378.31px / 2) solid transparent;
  border-right: calc(378.31px / 2) solid transparent;
  border-bottom: calc(2rem * 2) solid #4f335f;
}
