body {
  margin: 0;
  padding: 0;
  background: #0099df;

  padding: 1.45rem;
}

* {
  box-sizing: border-box;
}

article[role='main'] {
  background: rgba(255, 255, 255, 0.95);
  border-radius: calc(1.45rem / 8);

  box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.5);

  max-width: 48rem;
  padding: calc(1.45rem * 2);
  margin: 0 auto;
}

.foot {
  margin-top: 1.45rem;
  font-size: 0.75rem;

  text-align: center;
}

.foot span {
  color: #fff;
  padding: calc(1.45rem / 4);
}

@media only screen and (max-width: 484px) {
  body {
    padding: calc(1.45rem / 2);
  }

  article[role='main'] {
    padding: 1.45rem;
  }
}

label {
  display: block;
  margin-bottom: calc(1.45rem / 4);
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: calc(1.45rem / 4) calc(1.45rem / 2);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

textarea {
  resize: vertical;
}

button {
  background: #613f75;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
  padding: calc(1.45rem / 4) calc(1.45rem / 1);
}

ul li {
  padding-left: 1.45rem;
  text-indent: -1.45rem;
}
