.nav {
  list-style: none;
  margin-left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  text-align: center;
}

.nav li {
  margin-right: 1.45rem;
}

.nav li:last-child {
  margin-right: 0;
}

.navLink {
  color: #891b4d;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.04rem;

  margin-right: 1.45rem;
}

.navLink:last-child {
  margin-right: 0;
}

.navLink:hover,
.navLink:active {
  border-bottom: 2px solid #891b4d;
}

.active {
  composes: navLink;
}

.active {
  color: inherit;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.8);
}

.active:hover,
.active:active {
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.8);
}

.spacer {
  flex: 1;
  height: 2px;
  background: #891b4d;
}

.socialMedia {
  margin-right: calc(1.45rem / 2);
}

.socialMedia:last-child {
  margin-right: 0;
}

.socialMedia :global .fa {
  font-size: 1rem;
  width: calc(1rem + 1.45rem);
  padding: calc(1.45rem / 2);
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  background: hsla(0, 0%, 0%, 0.8);
  color: white;
}

.socialMedia :global .fa:hover {
  opacity: 0.7;
}

.socialMedia :global .fa-twitter {
  background: #55acee;
}

@media only screen and (max-width: 540px) {
  .spacer {
    display: none;
  }
}
